.hero_section
{
    /* background-color: red; */
    background: linear-gradient(81deg, #E7F0FF 9.01%, rgba(232, 241, 255, 0.47) 89.11%);
    /* margin-bottom: 200px; */
    height:500px;
    display: block;
    position:relative;
}



.hero_left_text
{
    /* background-color: red; */
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
    flex-wrap: wrap;
}

.middle_hero_text
{
    font-size: 56px !important;
    font-family: "Poppins", sans-serif !important;
    font-weight: 700 !important;

}

.middle_hero_text span{
    color: var(--main-primary)
}



